<div class="layout-row">
  <div class="sides">
    <PaperList>
      {{#paper-link-item 'classroom1.exercise1'}}
        <p>{{t "classrooms.exercise1"}}</p>
      {{/paper-link-item}}
      {{#paper-link-item 'classroom1.exercise2'}}
        <p>{{t "classrooms.exercise2"}}</p>
      {{/paper-link-item}}
      {{#paper-link-item 'classroom1.exercise3'}}
        <p>{{t "classrooms.exercise3"}}</p>
      {{/paper-link-item}}
      {{#paper-link-item 'classroom1.exercise4'}}
        <p>{{t "classrooms.exercise4"}}</p>
      {{/paper-link-item}}
      {{#paper-link-item 'classroom1.exercise5'}}
        <p>{{t "classrooms.exercise5"}}</p>
      {{/paper-link-item}}
    </PaperList>
    <div>
      <PaperSelect @label={{t "classrooms.numberOfExercises"}} @options={{counts}} @selected={{count}} @onChange={{action configSelectCount}} as |count|>
        {{count}}
      </PaperSelect>
    </div>
    <div>
      <PaperSelect @label={{t "classrooms.resultLimit"}} @options={{maxResults}} @selected={{maxResult}} @onChange={{action configSelectMaxResult}} as |maxResult|>
        {{maxResult}}
      </PaperSelect>
    </div>
    <div>
      <PaperSelect @label={{t "classrooms.range"}} @options={{ranges1}} @selected={{range1}} @onChange={{action configSelectRange1}} as |range1|>
        {{range1}}
      </PaperSelect>
    </div>
    <div style="padding-left: 88px;">
      <PaperButton @onClick={{action "start"}} @accent={{true}} @raised={{true}} >Start</PaperButton>
    </div>
  </div>
  <div>
    {{outlet}}
  </div>
  <div class="sides">
    <PaperList>
      {{#each results as |item|}}
        <PaperItem @class="md-1-line">
          <div class="md-list-item-text">
            {{item.question}} &nbsp; ? &nbsp; {{item.answer}} &nbsp; &nbsp; &nbsp;{{item.status}}
          </div>
        </PaperItem>
      {{/each}}
    </PaperList>
  </div>
</div>
<style>
  .md-input-has-value{
    width: 183px !important;
  }
</style>
