{{!-- template-lint-disable no-unused-block-params no-inline-styles require-valid-alt-text  --}}
{{!-- template-lint-disable no-invalid-interactive --}}
<PaperCard as |card| >
  <div class="layout-row flex layout-align-center" style="padding-top: 20px;">
    {{t "classrooms.exercise302"}}
  </div>
  <div class="layout-row flex layout-align-center" style="padding-top: 20px;">
    <div id="dvQuestion" class="answerBtn">{{this.teacher.question}}</div>
    <div id="dvAnswer" class="answerBtn"> &emsp; = &emsp;{{this.teacher.answer}}</div>
  </div>

  <div class="layout-row flex layout-align-center" style="padding-top: 20px;">
    <PaperButton @raised={{true}} @fab={{true}} {{on "click" (fn this.calc "0")}} class="answerBtn">0</PaperButton>
    <PaperButton @raised={{true}} @fab={{true}} {{on "click" (fn this.calc "1")}} class="answerBtn">1</PaperButton>
    <PaperButton @raised={{true}} @fab={{true}} {{on "click" (fn this.calc "2")}} class="answerBtn">2</PaperButton>
    <PaperButton @raised={{true}} @fab={{true}} {{on "click" (fn this.calc "3")}} class="answerBtn">3</PaperButton>
    <PaperButton @raised={{true}} @fab={{true}} {{on "click" (fn this.calc "4")}} class="answerBtn">4</PaperButton>
    <PaperButton @raised={{true}} @fab={{true}} {{on "click" (fn this.calc "5")}} class="answerBtn">5</PaperButton>
    <PaperButton @raised={{true}} @fab={{true}} {{on "click" (fn this.calc "6")}} class="answerBtn">6</PaperButton>
    <PaperButton @raised={{true}} @fab={{true}} {{on "click" (fn this.calc "7")}} class="answerBtn">7</PaperButton>
    <PaperButton @raised={{true}} @fab={{true}} {{on "click" (fn this.calc "8")}} class="answerBtn">8</PaperButton>
    <PaperButton @raised={{true}} @fab={{true}} {{on "click" (fn this.calc "9")}} class="answerBtn">9</PaperButton>
  </div>

  <div class="layout-row flex layout-align-center" style="padding-top: 20px;">
    <div id="dvCompleted" class="answerBtn" style="color:green">{{this.teacher.completed}}</div>
  </div>

  <div class="layout-row flex layout-align-center" style="padding-top: 20px;">
    <div id="dvFireworks" style="display:none; ">
      <img src="../../Fireworks.gif" />
    </div>
    <br>
    <div id="dvPicture" style="display:block; ">
      <img src="../../Bear.png" width="250px" height="260px" style="cursor: pointer;" {{on "click" (fn this.delete "")}}>
    </div>
  </div>
</PaperCard>