{{!-- template-lint-disable no-inline-styles no-forbidden-elements --}}
<div class="layout-row">
  <div class="side-left">
    <PaperList>
      {{#paper-link-item 'classroom3.exercise1'}}
        <p>{{t "classrooms.exercise301"}}</p>
      {{/paper-link-item}}
      {{#paper-link-item 'classroom3.exercise2'}}
        <p>{{t "classrooms.exercise302"}}</p>
      {{/paper-link-item}}
      {{#paper-link-item 'classroom3.exercise3'}}
        <p>{{t "classrooms.exercise303"}}</p>
      {{/paper-link-item}}
      {{#paper-link-item 'classroom3.exercise4'}}
        <p>{{t "classrooms.exercise304"}}</p>
      {{/paper-link-item}}
      {{#paper-link-item 'classroom3.exercise5'}}
        <p>{{t "classrooms.exercise305"}}</p>
      {{/paper-link-item}}
      {{#paper-link-item 'classroom3.exercise6'}}
        <p>{{t "classrooms.exercise306"}}</p>
      {{/paper-link-item}}
    </PaperList>

    <div>
      <PaperSelect @label={{t "classrooms.numberOfExercises"}} @options={{this.counts}} @selected={{this.count}} @onChange={{this.configSelectCount3}} as |count|>
        {{count}}
      </PaperSelect>
    </div>
    <div>
      <PaperSelect @label={{t "classrooms.range"}} @options={{this.ranges1}} @selected={{this.range1}} @onChange={{this.configSelectRange3}} as |range1|>
        {{range1}}
      </PaperSelect>
    </div>
    <div style="padding-left: 88px;">
      <PaperButton @onClick={{this.start}} @accent={{true}} @raised={{true}} >Start</PaperButton>
    </div>
  </div>

  <div>
    {{outlet}}
  </div>

  <div class="side-right">
    <PaperList>
      {{#each this.results as |item idx| }}
        {{#if (eq idx 0)}}
          <div style="background-color: lightgrey">
            <PaperItem @class="md-1-line">
              <div class="md-list-item-text">
                <Common::ResultLine @question={{item.question}} @answer={{item.answer}} @status={{item.status}} />
              </div>
            </PaperItem>
          </div>
        {{else}}
          <PaperItem @class="md-1-line">
            <div class="md-list-item-text">
              <Common::ResultLine @question={{item.question}} @answer={{item.answer}} @status={{item.status}} />
            </div>
          </PaperItem>
        {{/if}}
      {{/each}}
    </PaperList>
  </div>
</div>

<style>
  .md-input-has-value{
    width: 183px !important;
  }
</style>
