{{!-- template-lint-disable no-inline-styles require-valid-alt-text --}}
{{page-title "School"}}

<div class="layout-row flex">
  <div class="flex-5"></div>
  <div class="flex-90">
    <div class="layout-row flex">
      <div class="flex" style="max-width:905px;">
        <PaperTabs @center={{center}} @stretch={{stretch}} @borderBottom={{true}} @selected={{selectedBasicTab}} @onChange={{action (mut selectedBasicTab)}} as |tabs|>
          <tabs.tab @href={{href-to "classroom1"}}>
            {{t "classrooms.classroom1"}}
          </tabs.tab>
          <tabs.tab @href={{href-to "classroom2"}}>
            {{t "classrooms.classroom2"}}
          </tabs.tab>
          <tabs.tab @href={{href-to "classroom3"}}>
            {{t "classrooms.classroom3"}}
          </tabs.tab>
        </PaperTabs>
      </div>
      <div>
        <PaperButton @raised={{true}} @fab={{true}} @iconButton={{true}} @onClick={{action "changeLocale" "en-us"}}>
          <img src="../../icons8-great-britain-48.png" />
        </PaperButton>
        <PaperButton @raised={{true}} @fab={{true}} @iconButton={{true}} @onClick={{action "changeLocale" "cs-cz"}}>
          <img src="../../icons8-czech-republic-48.png" />
        </PaperButton>
        <PaperButton @raised={{true}} @fab={{true}} @iconButton={{true}} @onClick={{action "stats"}} style="background-color: #fafafa;">
        </PaperButton>
      </div>
    </div>
    <div class="layout-row flex">
      {{outlet}}
    </div>
  </div>
  <div class="flex-5"></div>
</div>

<div class="layout-row flex">
  <div class="flex-5"></div>
  <div class="flex-90">
      <div style="width:1116px; text-align:center; padding-top:10px; padding-bottom:10px;">
        {{this.teacher.result}}
      </div>
  </div>
  <div class="flex-5"></div>
</div>

<div class="fixed">v.1.12</div>
