{{page-title "School"}}

<div class="layout-row flex">
  <div class="flex-5" style=""></div>
  <div class="flex-90" style="">
    <div class="layout-row flex">
      <div class="flex" style="">
        <PaperTabs @center={{center}} @stretch={{stretch}} @borderBottom={{true}} @selected={{selectedBasicTab}} @onChange={{action (mut selectedBasicTab)}} as |tabs|>
          <tabs.tab @href={{href-to "classroom1"}}>
            {{t "classrooms.classroom1"}}
          </tabs.tab>
          <tabs.tab @href={{href-to "classroom2"}}>
            {{t "classrooms.classroom2"}}
          </tabs.tab>
        </PaperTabs>
      </div>
      <div>
        <PaperButton @raised={{true}} @fab={{true}} @iconButton={{true}} @onClick={{action "changeLocale" "en-us"}}>
          <img src="../../icons8-great-britain-48.png" />
        </PaperButton>
        <PaperButton @raised={{true}} @fab={{true}} @iconButton={{true}} @onClick={{action "changeLocale" "cs-cz"}}>
          <img src="../../icons8-czech-republic-48.png" />
        </PaperButton>
      </div>
    </div>
    <div class="layout-row flex">
      {{outlet}}
    </div>
  </div>
  <div class="flex-5" style=""></div>
</div>

<div class="fixed">v.1.0</div>

<style>
div.fixed {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
</style>

